@import "breakpoint";
@import "susy";
@import "compass/utilities/general/clearfix";
@import "open-iconic";
@import "compass/reset";

$large-screen: 960px;
$large-screen-right-col-width: 300px;
$topbar-background-color: #FCF22A;
$definition-block-layout: 1.5 90 1.5;
@mixin base-block() {
    @include span(1 at 2 of $definition-block-layout);
    @include pre(1 of $definition-block-layout);
    @include post(1 of $definition-block-layout);
    //margin-top: 0;
    margin-bottom: span(1 of $definition-block-layout);
    border-width: 1px;
    border-style: solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-radius: 3px;
    background-color: #FFF;
}
$base-block-padding: span(1 at 1 of $definition-block-layout);
@mixin base-block-contents() {
        @include span(1 of 1);
        padding: $base-block-padding;
        width: span(1 at 2 of $definition-block-layout) - span(1 at 1 of $definition-block-layout);
}

a {
    color: #3B5998;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        margin-right: 5px;
    }
}
body {
    @include container();
    background-color: #E9EAED;
    color: #141823;
}
body {
    @include breakpoint($large-screen) {
        //max-width: $large-screen;
        @include span(1 of 1);
    }
}
$large-screen-layout: 1 ($large-screen) center;
div.top {
    //@include span(960px (1) center);
    //max-width: $large-screen;
    //@include span(1 of $large-screen-layout);
    //@include container(960px center);
    //@include bleed(0 1em 0 1em);
    @include span(1 of 1);
    background-image: linear-gradient(180deg, $topbar-background-color, darken($topbar-background-color, 10%));
    background-color: $topbar-background-color;
    border-color: darken($topbar-background-color, 5%);
    padding-top: 7px;
    padding-bottom: 7px;
    border-width: 0 0 1px;
    border-style: none none solid;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    margin-bottom: span(1 of $definition-block-layout);
    header.TopBar {
        @include container(960px center);
        nav.NavBar {
            @include breakpoint($large-screen) {
                @include span(2 of 3 0);
            }
            @include span(1 of 1);
            h2 {
                text-align: center;
                &:nth-of-type(1) {
                    @include breakpoint($large-screen) {
                        @include span(1 of 5 0.05);
                    }
                    @include span(1 of 3);
                }
                &:nth-of-type(2) {
                    @include breakpoint($large-screen) {
                        @include span(3 of 5 0.05);
                    }
                    @include span(1 of 3);
                }
                &:nth-of-type(3) {
                    @include breakpoint($large-screen) {
                        @include span(1 of 5 0.05 last);
                    }
                    @include span(1 of 3 last);
                }
                a {
                    display: inline;
                    text-decoration: none;
                    color: #444;
                    visibility: hidden;
                    @include breakpoint($large-screen) {
                        visibility: visible;
                    }
                    &:before {
                        visibility: visible;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            h2.home a {
                display: block;
                width: 100px;
                height: 63px;
                background: url(/static/assets/img/mexionario-200x126.png);
                background-size: 100px 63px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                visibility: visible;
            }
            h2.user-links, h2.login-info {
                a {
                    @include span(1 of 4);
                }
            }
        }
        section.SearchBar {
            @include breakpoint($large-screen) {
                @include span(1 of 3 last 0);
                margin-top: auto;
            }
            margin-top: -40px;
            @include span(2 of 3 last);
            form {
                @include span(1 of 1);
                input {
                    font-size: 150%;
                    @include breakpoint($large-screen) {
                        width: 85%;
                    }
                    width: 170px;
                }
                /*input {
                    @include span(1 of 1);
                    margin-top: -20px;
                    height: 20px;
                    line-height: 20px;
                    //font-size: 18px;
                    text-indent: 10px;
                    //position: absolute;
                    &:before {
                        @include span(1 of 1);
                        line-height: 20px;
                        font-size: 18px;
                    }
                }*/
            }
        }
    }
}

div.rest {
    @include container($large-screen);
    main {
        //@include span(1 of 1);
        @include breakpoint($large-screen) {
            @include span(1 at 1 of (660/960 300/960) 0);
        }
        section.phrase-top {
            @include span(1 of 1);
            div.addDefinitionCTA {
                @include span(1 of 1);
                @include base-block();
                > p {
                    @include base-block-contents();
                }
            }
        }
        > h2, section.phrase-top > h2 {
            @include span(1 of 1);
            font-weight: bold;
            font-style: italic;
        }
        > div, section.pagination { //InfiniteScroll introduces this div
            @include span(1 of 1);
        }
        > ul { // phrase details
            @include span(1 of 1);
            span.abbr {
                font-size: 70%;
            }
            > li {
                @include span(1 of 1);
                @include base-block();
                dl {
                    @include span(1 of 1);
                    @include base-block-contents();
                    position: relative;
                    dt {
                        @include span(1 of 1);
                        font-weight: bold;
                        padding-bottom: $base-block-padding/2;
                    }
                    dd {
                        @include span(1 of 1);
                        &.examples p {
                            font-style: italic;
                        }
                        &.definition, &.examples {
                            padding-bottom: $base-block-padding/2;
                            padding-top: $base-block-padding/2;
                            span.abbr {
                                @include span(2 of 20);
                            }
                            p {
                                @include span(18 of 20 last);
                            }
                        }
                        &.tags {
                            @include breakpoint($large-screen) {
                                @include span(5 of 10);
                                border-bottom: 0px none black;
                                min-height: 40px;
                            }
                            @include span(1 of 1);
                            padding-bottom: $base-block-padding;
                            padding-top: $base-block-padding/2;
                            border-bottom: 1px dotted black;
                            ul li {
                                display: inline;
                                margin-left: 10px;
                                &:after {
                                    content: ',';
                                }
                                &:last-of-type:after {
                                    content: '';
                                }
                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                        &.author {
                            @include breakpoint($large-screen) {
                                @include span(2 of 10);
                                position: absolute;
                                bottom: 0;
                                padding-bottom: $base-block-padding;
                                left: span(5 of 10) + gutter()/2;

                                border-top: 0px none black;
                                padding-top: auto;
                            }
                            @include span(1 of 2);
                            padding-top: $base-block-padding;
                        }
                        &.votes {
                            @include breakpoint($large-screen) {
                                @include span(3 of 10 last);
                                position: absolute;
                                bottom: 0;
                                padding-bottom: $base-block-padding;
                                left: span(7 of 10) + gutter();

                                border-top: 0px none black;
                                padding-top: auto;
                            }
                            @include span(1 of 2 last);
                            padding-top: $base-block-padding;
                            div {
                                @include span(1 of 1);
                                a {
                                    @include span(3 of 20);
                                }
                                p {
                                    @include span(17 of 20 last);
                                    line-height: 20px;
                                    font-size: 80%;
                                }
                                &.up.voted a {
                                    color: #4EA600;
                                }
                                &.down.voted a {
                                    color: #B90000;
                                }
                            }
                        }
                    }
                }
            }
        }
        section.contributor-info { // user/contributor profile
            @include base-block();
            @include span(1 of 4);
            @include pre(0);
            @include post(0);
            dl, a {
                @include base-block-contents();
            }
        }
        section.contributor-activity { // user/contributor activity
            @include base-block();
            @include span(3 of 4 last);
            @include pre(0);
            @include post(1 of $definition-block-layout);
            > div {
                @include base-block-contents();
                div div {
                    margin: $base-block-padding 0;
                    &:first-of-type {
                        margin: 0;
                    }
                }
            }
        }
        div.leaderboard { // leaderboard
            @include base-block();
            table {
                @include base-block-contents();
                thead {
                    @include span(1 of 1);
                    tr {
                        @include span(1 of 1);
                        th {
                            @include span(1 at 2 of (1 50 1 1 50 1));
                            @include pre(1 at 1 of (1 50 1 1 50 1));
                            @include post(1 at 1 of (1 50 1 1 50 1));
                            padding-top: span(1 at 1 of (1 50 1 1 50 1));
                            padding-bottom: span(1 at 1 of (1 50 1 1 50 1));
                            &:last-of-type {
                                @include span(1 at 5 of (1 50 1 1 50 1) last);
                            }
                        }
                    }
                }
                tbody {
                    @include span(1 of 1);
                    tr {
                        @include span(1 of 1);
                        td {
                            @include span(1 at 2 of (1 50 1 1 50 1));
                            @include pre(1 at 1 of (1 50 1 1 50 1));
                            @include post(1 at 1 of (1 50 1 1 50 1));
                            padding-top: span(1 at 1 of (1 50 1 1 50 1));
                            padding-bottom: span(1 at 1 of (1 50 1 1 50 1));
                            &:last-of-type {
                                @include span(1 at 5 of (1 50 1 1 50 1) last);
                            }
                        }
                    }
                }
            }
        }
        form { // add phrase, login
            @include base-block();
            fieldset {
                @include base-block-contents();
                legend {
                    font-weight: bold;
                }
                p {
                    margin-bottom: $base-block-padding;
                }
                label {
                    @include span(1 of 1);
                    margin-bottom: $base-block-padding;
                    span {
                        @include span(1 at 1 of (20 1 30) 0 );
                    }
                    input, textarea {
                        @include span(1 at 3 of (20 1 30) 0 last);
                        &[type="submit"] {
                            width: auto;
                            float: none;
                            margin-left: span(1 at 1 of (20 1 30) 0);
                        }
                    }
                    textarea {
                        height: 10em;
                    }
                }
                section.forgotPassword {
                    @include span(1 of 1);
                    text-align: right;
                }
            }
        }
        > div.message { // error, info, yesno messages
            @include base-block();
            section {
                @include base-block-contents();
                &.choices {
                    text-align: center;
                    a {
                        margin-right: 1em;
                    }
                }
            }
        }
    }
    footer {
        //@include span(1 at 2 of (660/960 300/960) 0);
        @include breakpoint($large-screen) {
            @include span(1 at 2 of (660/960 300/960) 0);
        }
    }
}
section.pagination {
    h3, ol, li {
        display: inline;
    }
    li {
        padding: 0.6em;
    }

}

dl.PhraseSearchResult {
    @include base-block();
    dt {
        @include base-block-contents();
        font-weight: bold;
    }
    dd {
        @include base-block-contents();
        padding-top: 0;
        &.missing-definition {
            text-align: center;
            font-style: italic;
        }
    }
}

.oi[data-glyph=person]:before {
  content: '\e0a5\A';
  white-space: pre;
  display: inline;
}
.oi[data-glyph=people]:before {
  content: '\e0a4\A';
  white-space: pre;
  display: inline;
}
.oi[data-glyph=plus]:before {
  content: '\e0aa\A';
  white-space: pre;
  display: inline;
}
.oi[data-glyph=account-logout]:before {
  content: '\e001\A';
  white-space: pre;
  display: inline;
}
input.error, p.global.error {
    //background-color: //complement($base-background-color)!important;
    color: red;
}
