@import "main";

div.top header.TopBar nav.NavBar h2.home a {
    display: block;
    width: 100px;
    height: 28px;
    background: url(/static/assets/img/slangsco-201x56.png);
    background-size: 100px 28px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    visibility: visible;
}
