@import "breakpoint";
@import "susy";
@import "compass/utilities/general/clearfix";
@import "open-iconic";
@import "compass/reset";
@import "placeholder";

/*// body { @include container(50em); }
// Setting up the Magic Grid
//$susy: (
    //total-columns: 10, // 10 columns
    //column-width: 4em, // columns are 4em wide
    //gutter-width: 1em, // with 1em gutters
    //grid-padding: 1em // and 1em padding on the grid container
    //container-width: 50em
//);*/
/*
main

header.TopBar

nav.NavBar

form.SearchBar
*/

/*main {
    @include breakpoint(600px) {
        @include container;
        //@include clearfix;
        border: 1px solid red;
    }
}*/

//$total-columns: 10; // 10 columns
//$column-width: 4em; // columns are 4em wide
//$gutter-width: 1em; // with 1em gutters
//$grid-padding: 1em; // and 1em padding on the grid container
//            $total-columns: 4; // 10 columns
            //$column-width: 1em; // columns are 4em wide
//            $gutter-width: 0; // with 1em gutters
//            $grid-padding: 0; // and 1em padding on the grid container

/*$primary-0: rgba( 59, 54,125,1);
$primary-1: rgba(149,147,177,1);
$primary-2: rgba( 97, 93,151,1);
$primary-3: rgba( 37, 32,106,1);
$primary-4: rgba( 12,  7, 74,1);

$rgba-complement-0: rgba(180,152, 61,1);
$rgba-complement-1: rgba(254,243,204,1);
$rgba-complement-2: rgba(217,195,120,1);
$rgba-complement-3: rgba(152,124, 29,1);
$rgba-complement-4: rgba(107, 82,  0,1);*/


/* gray on white 
$ondark: false;
$base-background-color: #FAFAFA;
$base-saturation-contrast: 0%;
$base-lightness-contrast: 60%;
/* /gray on white */

/* dark blue on light blue */
$ondark: false;
$base-background-color: hsl(250, 30%, 95%); // un-saturated, bright
$base-saturation-contrast: 30%;
$base-lightness-contrast: 60%;
/* /dark blue on light blue */

/* gray on black 
$ondark: true;
$base-background-color: #0A0A0A;
$base-saturation-contrast: 0%;
$base-lightness-contrast: 60%;
/* /gray on white */

$saturation-contrast-sign: if($ondark, -1, 1);
$lightness-contrast-sign: if($ondark, 1, -1);

$base-font-size: 60px;
//$base-color: #C6C6C6;
//$base-background-color: #2F2F2F;
//$base-background-color: hsl(250, 80%, 90%); // light, saurated
$base-color: adjust-color($base-background-color, $saturation: $saturation-contrast-sign*$base-saturation-contrast, $lightness: $lightness-contrast-sign*$base-lightness-contrast);
$less-contrast-1: adjust-color($base-background-color, $saturation: $saturation-contrast-sign*$base-saturation-contrast/3, $lightness: $lightness-contrast-sign*$base-lightness-contrast/3);
$less-contrast-2: adjust-color($base-background-color, $saturation: $saturation-contrast-sign*$base-saturation-contrast*2/3, $lightness: $lightness-contrast-sign*$base-lightness-contrast*2/3);
$more-contrast-1: adjust-color($base-background-color, $saturation: $saturation-contrast-sign*$base-saturation-contrast*4/3, $lightness: $lightness-contrast-sign*$base-lightness-contrast*4/3);
$more-contrast-2: adjust-color($base-background-color, $saturation: $saturation-contrast-sign*$base-saturation-contrast*5/3, $lightness: $lightness-contrast-sign*$base-lightness-contrast*5/3);
//$base-color: hsl(250, 100%, 80%);
//$base-background-color: desaturate(darken($base-color, 40%), 20%);
$main-heading-margin: 0.4em 0 0 0;
@mixin hr-with-shadow($width) {
    box-shadow: 0px 1px 0px rgba($more-contrast-2, 0.07);
    border-bottom: $width solid $less-contrast-1;
}
@mixin vr-with-shadow($width) {
    box-shadow: 0px 1px 0px rgba($more-contrast-2, 0.07);
    border-right: $width solid $less-contrast-1;
}
@mixin main-heading-base() {
    margin: $main-heading-margin;
    border: solid $less-contrast-2;
    border-width: 2px 0;
    background-color: $less-contrast-1;
    font-style: none;
    text-indent: 3%;
}
.quote-padding {
    padding: 0 0.4em;
}
span.abbr {
    font-size: 50%;
    font-weight: bold;
    font-style: normal;
}

body {
    @include container;
    background: none repeat scroll 0% 0% $base-background-color;
    font-family: "Ubuntu","Lucida Grande","Lucida Sans",Tahoma,sans-serif;
    font-size: $base-font-size;
}
body, a:link, a:visited {
    color: $base-color;
}
a:hover, a:active {
    color: $less-contrast-2;
}
body > footer {
    @include span(1 of 1);
    font-size: smaller;
    margin-top: 2em;
    text-align: center;
}
a:link {
    text-decoration: none;
}

body > div {
    @include span(1 of 1);
    header.TopBar {
        @include hr-with-shadow(4px);
        @include span(1 of 1);
        nav.NavBar {
            @include span(1 of 1);
            @include hr-with-shadow(2px);
            text-align: center;
            h2.home {
                @include span(1 of 3 0);
            }
            h2.user-links {
                @include span(1 of 3 0);
                a:nth-child(1), a:nth-child(2) {
                    @include span(1 of 3);
                }
                a:nth-child(3) {
                    @include span(1 of 3 last);
                }
            }
            h2.login-info {
                @include span(1 of 3 0 last);
            }
            h2 a::before {
                line-height: 1.3em;
                font-size: 1.5em;
            }
            /*@include with-layout((gutters: 0)) {
                @include container;
                //font-family: "Open Sans",sans-serif;
                h2.home {
                    @include span(1 of 3);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2.user-links {
                    //$map: (
                        //sprea
                    //);
                    @include span(1 of 3);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2.login-info {
                    @include span(1 of 3 last);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2 {
                    //@include with-layout(gutters 0);
                    //margin: 0;
                    //font-size: 2.5em;
                    padding: .2em 0;
                    text-align: center;
                    ::before {
                        font-size: $base-font-size * 1.5;
                    }
                }
            }*/
        }
    }
}
section.SearchBar {
    @include span(1 of 1 last);
    @include hr-with-shadow(2px);
    text-align: center;
    vertical-align: center;
    padding: 1em 0;
}
form.SearchBar {
    color: $more-contrast-1;
    width: 75%;
    box-shadow: 0px 1px 0px rgba($more-contrast-2, 0.1), 0px 1px 7px 0px rgba($less-contrast-1, 0.8) inset;
    background: none repeat scroll 0% 0% rgba($less-contrast-1, 0.3);
    border-radius: 10px;
    border: 0px none;
    font-size: 0.8em;
    text-align: left;
    &::before {
        font-size: $base-font-size;
        display: inline-block;
        vertical-align: middle!important;
    }
    input[type="search"] {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0);
        border: 0px none;
        font-size: 1.5em;
    }
    padding: 1em 0.3em;
    display: inline-block;
}
main.phrase-list {
    @include span(1 of 1 last);
    @include container;
    h2.results-heading {
        @include main-heading-base;
        font-style: italic;
    }
    ul.phraseSearchResultsList {
        @include span(1 of 1 last);
        dl {
            @include hr-with-shadow(2px);
            $search-result-padding: 1em;
            padding: $search-result-padding 0;
            position: relative;
            dt {
                //position: relative;
                margin: 0 0 0 0.4em;
                a::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                }
            }
            dd {
                margin: 0.6em 0 0 0.9em;
                span.abbr {
                    @extend .quote-padding;
                    padding-left: 0;
                }
            }
            div.missing-definition {
                font-size: 60%;
                font-style: italic;
                margin: 0.4em 0 0 0;
                text-align: center;
            }
        }
    }
}
main.phrase-details {
    @include span(1 of 1 last);
    //@include with-layout(gutters 0);
    @include container;
    section.phrase-top {
        h2 {
            @include main-heading-base;
            font-size: 140%;
            font-style: none;
            font-weight: bold;
        }
        p {
            font-size: 70%;
        }
    }
    > ul {
        @include span(1 of 1 last);
        margin-bottom: 0.5em;
        counter-reset: defNum;
        > li {
            @include hr-with-shadow(1px);
            margin: 1em;
            border: 1px solid $less-contrast-1;
            border-radius: 20px;
            box-shadow: 0 0 40px 10px $base-color inset;
            line-height: 1.8em;
            text-align: center;
            > * {
                //margin-left: 0.9em;
                display: inline-block;
                width: 90%;
                text-align: left;
            }
            padding: 0.6em 0;
            .votes {
                display: inline-block;
                text-align: right;
                .up, .down {
                    display: inline-block;
                    text-align: center;
                }
                .up {
                    margin-right: 15px;
                }
                .down {
                    margin-left: 15px;
                }
                .up.voted a {
                    color: green;
                }
                .down.voted a {
                    color: red;
                }
                p {
                    font-size: 50%;
                }
            }
            dt {
                font-weight: bold;
            }
            dd.definition {
                span.abbr {
                    @extend .quote-padding;
                    padding-left: 0;
                }
            }
            dd.examples {
                font-style: italic;
                line-height: 1em;
                span::before {
                    @extend .quote-padding;
                }
            }
            dd.tags {
                margin: 20px 0;
                padding: 20px;
                box-shadow: 0 0 20px 10px $less-contrast-1 inset;
                border: 1px solid $less-contrast-2;
                background-color: $less-contrast-1;
                border-radius: 20px;
                line-height: 1em;
                > span {
                    font-size: 75%;
                }
                li {
                    display: inline-block;
                    padding: 0 8px;
                    margin-right: 24px;
                    &.exists {
                        a {
                            font-weight: bold;
                            border-bottom: 2px solid $base-color;
                        }
                    }
                    &.not-exists {
                        a {
                            border-bottom: 2px dotted $base-color;
                        }
                    }
                    span {
                    }
                }
            }
            position: relative;
            &::before {
                color: $less-contrast-1;
                counter-increment: defNum;
                content: counter(defNum)".";
                position:absolute;
                right: 0;
                top: 10%; /* had to set it to something, otherwise on android chrome it renders outside of the box*/
                font-size: 5em;
                font-family: "Georgia","sans-serif",serif;
                z-index: -1;
            }
        }
    }
    > div a.back::before {
        padding-left: 0.4em;
        padding-right: 0.6em;
        display: inline;
    }
}
main.add-phrase {
    @include span(1 of 1 last);
    //@include with-layout(gutters 0);
    @include container;
    form {
        @include span(1 of 1 last);
        text-align: center;
        fieldset {
            @extend .base-fieldset;
            width: 60%;
            display: inline-block;
            legend {
                @extend .base-legend;
            }
            input[type="text"] {
                width: 90%;
                height: 1.1em;
                line-height: 1em;
                margin-bottom: 2em;
            }
            input[type="submit"] {
                @extend .base-submit-input;
            }
            input {
                display: block;
                font-size: $base-font-size;
            }
        }
    }
}
@mixin user-form($displayed-labels) {
        @include span(1 of 1 last);
        //text-align: center;
        fieldset {
            @include span(18 of 20 last);
            @include post(1 of 20); //margin
            @extend .base-base-fieldset;
            padding-top: span(1 of 20);
            padding-bottom: span(1 of 20);
            legend {
                @extend .base-legend;
                padding-left: 1em;
            }
            p {
                font-size: 70%;
                margin-bottom: span(1 of 20);
            }
            p, #{$displayed-labels} {
                @include span(18 of 20 last);
                @include post(1 of 20);
            }
            #{$displayed-labels} {
                margin-bottom: span(1 of 20) / 2;
                > span {
                    @include span(1 of 1);
                }
                > input {
                    @include span(1 of 1);
                }
            }
            label.submit {
                @include span(5 at 2 of 20);
                @include pre(2 of 20);
                margin-top: span(1 of 20);
                input[type="submit"] {
                    @extend .base-submit-input;
                }
            }
        }
}
main.login {
    @include span(1 of 1 last);
    @include container;
    form.login {
        @include user-form("label.username, label.password");
        margin-bottom: span(1 of 20);
        fieldset {
            section.forgotPassword {
                @include span(10 of 20 last);
                @include post(3 of 20);
                margin-top: span(1 of 20);
                font-size: 40%;
                color: $less-contrast-1;
            }
        }
    }
    form.signup {
        @include user-form("label.username, label.password, label.nickname, label.firstName, label.lastName");
    }
}
main.initiate-password-recovery {
    @include span(1 of 1 last);
    @include container;
    form {
        @include user-form("label.email");
    }
}
main.password-recovery {
    @include span(1 of 1 last);
    @include container;
    form {
        @include user-form("label.email, label.password_reset_code, label.new_password, label.new_password_confirm");
    }
}
main.edit-profile {
    @include span(1 of 1 last);
    @include container;
    form {
        @include user-form("label.nickname, label.first_name, label.last_name");
    }
}
main.yesno-message, main.error-message, main.info-message {
    @include span(1 of 1 last);
    @include container;
    section.message {
        @include span(1 of 1 last);
        text-align: center;
        p {
            margin-top: 1em;
            display: inline-block;
            width: 80%;
            font-size: 60%;
            text-align: left;
        }
    }
    section.choices {
        @include span(1 of 1 last);
        width: 80%;
        margin: 1em 0;
        text-align: left;
        a {
            @extend .base-submit-input;
            margin: 1em;
            padding: 0 12px;
        }
    }
}
$two-col-fields-layout: layout((1 1.618) 0.05);
$reverse-two-col-fields-layout: layout((1.618 1) 0.05);
main.add-definition form {
    @include span(1 of 1);
    > h2 {
        @include span(1 of 1);
        margin-bottom: gutter();
    }
    > label {
        @include span(1 of 1);
        margin-bottom: gutter();
        span {
            @include span(1 at 1 of $two-col-fields-layout);
        }
        textarea {
            @include span(1 at 2 of $two-col-fields-layout);
            border: 0px none red;
            padding: 0;
            height: 250px;
        }
    }
    > section.submit {
        @include span (1 of 1);
        input[type="submit"] {
            @include span(1 at 2 of $two-col-fields-layout);
            @extend .base-submit-input;
        }
    }
}
$another-layout: layout((1 2) 0.05);
main.verification-prompt {
    @include container;
    form {
        @include span(1 of 1);
        fieldset {
            @extend .base-base-fieldset;
            border: 1px solid;
            @include span(16 at 2 of 20 last);
            @include pre(1 of 20); //margin
            @include post(1 of 20); //margin
            @include prefix(1 of 20); //padding
            @include suffix(1 of 20); //padding
            padding-top: span(1 of 20);
            padding-bottom: span(1 of 20);
            label {
                @include span(1 of 1);
                margin-bottom: span(1 of 20);
                span {
                    @include span(1 at 1 of $two-col-fields-layout);
                }
                input {
                    @include span(1 at 2 of $two-col-fields-layout);
                    border: 0px none red;
                    padding: 0;
                }
            }
            section.submit {
                @include span(1 of 1);
                input[type="submit"] {
                    @include span(1 at 2 of $two-col-fields-layout);
                    @extend .base-submit-input;
                }
            }
        }
    }
}
main.contributor-profile {
    @include container;
    section.contributor-info {
        @include span(1 at 1 of $two-col-fields-layout);
        //position: sticky;
        //position: -webkit-sticky;
        //position: -moz-sticky;
        //position: -ms-sticky;
        //position: -o-sticky;
        //top: 10px;
        > dl {
            @include span(18 of 20);
            @include pre(1 of 20);
            @include post(1 of 20);
            @include hr-with-shadow(1px);
            line-height: 1.2em;
            padding-bottom: gutter();
            margin-bottom: gutter();
            font-size: 60%;
            dt {
                @include span(1 at 1 of $two-col-fields-layout);
            }
            dd {
                @include span(1 at 2 of $two-col-fields-layout);
                font-weight: bold;
            }
        }
    }
    section.contributor-activity {
        @include span(1 at 2 of $two-col-fields-layout);
        font-size: 50%;
        padding-bottom: gutter();
        margin-bottom: gutter();
        line-height: 1.2em;
        > div {
            @include span(1 of 1);
            div.activity-item {
                @include hr-with-shadow(1px);
                position: relative;
                a::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                }
            }
        }
    }
}
main.leaderboard {
    @include container;
    > h2 {
        @include span(18 at 1 of 20 last);
        @include prefix(1 of 20); //pad
        @include suffix(1 of 20); //pad
        @include main-heading-base;
        margin-bottom: 1em;
    }
    > table {
        @include span(10 at 6 of 20 first);
        //@include pre(5 of 20);
        @include post(5 of 20);
        thead tr {
            @include span(1 of 1);
            @include hr-with-shadow(2px);
            text-align: center;
        }
        tbody tr {
            @include span(1 of 1);
            @include hr-with-shadow(1px);
            text-align: center;
            td:nth-of-type(2n + 1) {
                @include vr-with-shadow(1px);
                border-style: dotted;
            }
        }
    }
}
section.pagination {
    @include span(18 at 1 of 20 last);
    @include pre(1 of 20);
    @include post(1 of 20);
    font-size: 80%;
    margin-top: 0.4em;
    h3 {
        display: inline;
    }
    ol {
        display: inline;
        li {
            display: inline;
            &::after {
                display: inline;
                content: " "
            }
        }
    }
}
.base-submit-input {
    color: $less-contrast-2;
    background: $less-contrast-1;
    border: 1px outset darken($base-color, 50%);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 darken($base-background-color, 5%) inset, 0 0 10px 0 lighten($base-background-color, 5%);
}
.base-legend {
    color: $less-contrast-2;
    text-align: left;
    font-size: 80%;
}
.base-base-fieldset {
    border: 1px solid $less-contrast-1;
    border-radius: 20px;
    box-shadow: 0px 1px 30px 0 $less-contrast-2;
}
.base-fieldset {
    @extend .base-base-fieldset;
    padding: 2em;
    margin-top: 25px;
}


.thumbs.container {
    position: relative;
}

.thumbs.container * {
    z-index: -1;
}

.thumbs.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 20px;
    height: 20px;
}

.thumbs.container object {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

input.error, p.global.error {
    background-color: complement($base-background-color)!important;
    color: complement($base-color);
}
input[type="text"], input[type="password"], textarea, input[type="email"], input[type="search"], input[type="submit"] {
    color: $more-contrast-1;
    font-size: $base-font-size;

    border: 1px solid $more-contrast-1;
    border-radius: 10px;
    //box-shadow: 0 0 10px 0 lighten($base-background-color, 5%) inset, 0 0 10px 0 darken($base-background-color, 5%);
    box-shadow: 0px 1px 0px rgba($more-contrast-2, 0.1), 0px 1px 7px 0px rgba($base-background-color, 0.8) inset;
    background: none repeat scroll 0% 0% rgba($less-contrast-1, 0.3);

    @include placeholder {
        color: $less-contrast-2;
    }
}

.main-enter {
    visibility: show;
    opacity: 0.01;
    transition: opacity .5s ease-in;
}
.main-enter.main-enter-active {
    visibility: show;
    opacity: 1;
}
.main-leave {
    // don't want this animation, but need it because disabling it in JS breaks iOS
    visibility: hidden;
    opacity: 0.0000001;
    transition: opacity 0.000001s ease-in;
}
.main-leave.main-leave-active {
    visibility: hidden;
    opacity: 0;
}
