@import "breakpoint";
@import "susy";
@import "compass/utilities/general/clearfix";

/*// body { @include container(50em); }
// Setting up the Magic Grid
//$susy: (
    //total-columns: 10, // 10 columns
    //column-width: 4em, // columns are 4em wide
    //gutter-width: 1em, // with 1em gutters
    //grid-padding: 1em // and 1em padding on the grid container
    //container-width: 50em
//);*/

body {
    @include breakpoint(600px) {
        @include container;
        @include clearfix;
        border: 1px solid red;
    }
}


.thumbs.container {
    position: relative;
}

.thumbs.container * {
    z-index: -1;
}

.thumbs.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 20px;
    height: 20px;
}

.thumbs.container object {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

input.error {
    background-color: red;
}
