@import "breakpoint";
@import "susy";
@import "compass/utilities/general/clearfix";
@import "open-iconic";
@import "compass/reset";
@import "placeholder";

/*// body { @include container(50em); }
// Setting up the Magic Grid
//$susy: (
    //total-columns: 10, // 10 columns
    //column-width: 4em, // columns are 4em wide
    //gutter-width: 1em, // with 1em gutters
    //grid-padding: 1em // and 1em padding on the grid container
    //container-width: 50em
//);*/
/*
main

header.TopBar

nav.NavBar

form.SearchBar
*/

/*main {
    @include breakpoint(600px) {
        @include container;
        //@include clearfix;
        border: 1px solid red;
    }
}*/

//$total-columns: 10; // 10 columns
//$column-width: 4em; // columns are 4em wide
//$gutter-width: 1em; // with 1em gutters
//$grid-padding: 1em; // and 1em padding on the grid container
//            $total-columns: 4; // 10 columns
            //$column-width: 1em; // columns are 4em wide
//            $gutter-width: 0; // with 1em gutters
//            $grid-padding: 0; // and 1em padding on the grid container

$base-font-size: 60px;
$base-color: #C6C6C6;
$base-background-color: #2F2F2F;

body {
    @include container;
    background: none repeat scroll 0% 0% $base-background-color;
    font-family: "Ubuntu","Lucida Grande","Lucida Sans",Tahoma,sans-serif;
    font-size: $base-font-size;
}
body, a:link, a:visited {
    color: $base-color;
}
a:hover, a:active {
    color: darken($base-color, 10%);
}
body > footer {
    @include span(1 of 1);
    font-size: smaller;
    margin-top: 2em;
    text-align: center;
}
a:link {
    text-decoration: none;
}
@mixin hr-with-shadow($width) {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.07);
    border-bottom: $width solid #121212;
}
body > div {
    @include span(1 of 1);
    header.TopBar {
        @include hr-with-shadow(4px);
        nav.NavBar {
            @include with-layout((gutters: 0)) {
                @include container;
                //font-family: "Open Sans",sans-serif;
                //background-color: #EAEAEA;
                h2.home {
                    @include span(1 of 3);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2.user-links {
                    //$map: (
                        //sprea
                    //);
                    @include span(1 of 3);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2.login-info {
                    @include span(1 of 3 last);
                    * {
                        padding: 0 .4em;
                    }
                }
                h2 {
                    //@include with-layout(gutters 0);
                    //margin: 0;
                    //font-size: 2.5em;
                    padding: .2em 0;
                    text-align: center;
                    //background-color: #E7E7E7;
                    ::before {
                        font-size: $base-font-size * 1.5;
                    }
                }
            }
        }
    }
}
section.SearchBar {
    @include span(1 of 1 last);
    @include hr-with-shadow(2px);
    text-align: center;
    vertical-align: center;
    padding: 1em 0;
}
form.SearchBar {
    color: darken($base-color, 40%);
    width: 75%;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 0px none;
    font-size: 0.8em;
    text-align: left;
    &::before {
        font-size: $base-font-size;
        display: inline-block;
        vertical-align: middle!important;
    }
    input[type="text"] {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        color: darken($base-color, 40%);
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0);
        border: 0px none;
        font-size: 1.5em;
        @include placeholder {
            color: darken($base-color, 60%);
        }
    }
    padding: 1em 0.3em;
    display: inline-block;
}
main.phrase-list {
    @include span(1 of 1 last);
    @include container;
    h2.results-heading {
        //@include span(98% last center);
        margin-top: 0.4em;
        border: solid lighten($base-background-color, 10%);
        border-width: 2px 0;
        background-color: lighten($base-background-color, 5%);
        font-style: italic;
        text-indent: 1em;
    }
    ul.phraseSearchResultsList {
        @include span(1 of 1 last);
        dl {
            @include hr-with-shadow(2px);
            $search-result-padding: 1em;
            padding: $search-result-padding 0;
            position: relative;
            dt {
                //position: relative;
                margin: 0 0 0 0.4em;
                a::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                }
            }
            dd {
                margin: 0.6em 0 0 0.9em;
                span::before {
                    padding: 0 0.2em;
                }
            }
            div.missing-definition {
                font-size: 60%;
                font-style: italic;
                margin: 0.4em 0 0 0;
                text-align: center;
            }
        }
    }
}
main.phrase-details {
    @include span(1 of 1 last);
    //@include with-layout(gutters 0);
    @include container;
    > h2 {
        @include span(1 of 1 last);
        margin-top: 0.4em;
        font-style: italic;
    }
    > ul {
        @include span(1 of 1 last);
        margin-bottom: 0.5em;
        counter-reset: defNum;
        > li {
            @include hr-with-shadow(1px);
            > * {
                margin-left: 0.9em;
            }
            padding: 0.6em 0;
            .votes.container {
            }
            dt {
                text-decoration: underline;
            }
            dd.definition {
            }
            dd.examples {
            }
            dd.tags {
                a {
                }
            }
            position: relative;
            &::before {
                color: rgba(60, 60, 60, 1);
                counter-increment: defNum;
                content: counter(defNum)".";
                position:absolute;
                right: 0;
                font-size: 5em;
                font-family: "Georgia","sans-serif",serif;
                z-index: -1;
            }
        }
    }
    > div a.back::before {
        padding-left: 0.4em;
        padding-right: 0.6em;
        display: inline;
    }
}


.thumbs.container {
    position: relative;
}

.thumbs.container * {
    z-index: -1;
}

.thumbs.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 20px;
    height: 20px;
}

.thumbs.container object {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

input.error {
    background-color: red;
}

.main-enter {
    visibility: show;
    opacity: 0.01;
    transition: opacity .5s ease-in;
}
.main-enter.main-enter-active {
    visibility: show;
    opacity: 1;
}
.main-leave {
    // don't want this animation, but need it because disabling it in JS breaks iOS
    visibility: hidden;
    opacity: 0.0000001;
    transition: opacity 0.000001s ease-in;
}
.main-leave.main-leave-active {
    visibility: hidden;
    opacity: 0;
}
